*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#26284e;
}
header {
    /* background-color: aqua; */
    display: block;
    text-align: justifyf;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 span{
color: #d43242;
}
.Conform{
    color: white;
    font-size: 25px;
    text-align: center;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffa938;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: #d43242;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #d43242;
}
